.container {
  background: #245280;
  color: #FFF;
  padding: 60px 25px 30px;
}

.container p {
  margin: 0;
}

.container .title {
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 12px;
}

.container .description {
  font-size: 16px;
}