.container {
  width: 100%;
  position: absolute;
  left: 0;
  background: #FFF;
  top: 50px;
  display: flex;
  justify-content: center;
}

.search {
  padding: 47px 0;
  width: 100%;
  max-width: 1260px;
}